// Variables
@import 'variables';

// Bootstrap
@import '~bulma/bulma';

.card-header-title .tag {
    margin-left: 0.75em;
}

.notification > .delete {
	position: absolute;
	right: 1rem;
	top: 1.4rem;
}
